/* Print styles */
@media print {
  .navbar,
  .backButton,
  .printButton {
    display: none !important;
  }
  
  body {
    background-color: white;
  }
  
  .report {
    padding: 0 !important;
  }
}